@font-face {
  font-family: 'JetBrainsMono';
  src: url('/JetBrainsMono-Regular.woff2') format('woff2');
}

.articleBody {
  h1::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-image: linear-gradient(120deg, #2BC0E4, #EAECC6);
  }
}

.codeBlock {
  font-family: JetBrainsMono;
  font-size: 14px;
  line-height: 16px;
}
