@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./article.scss";

.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold
}
