@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@tailwind base;
@tailwind components;
@tailwind utilities;

.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold
}
